In [10]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [14]:
df= pd.read_csv('Feminicidios.csv')
df.head(2)

,Unnamed: 0,name,descriptio,latitud,longitud,Cosas_Cerc,geometry,TRANSPORTES,TALLER_MECANICO,CAJEROS_AUTOMATICOS,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,#llamadas
0,0,B2,3-ene. La mujer entre 25 y 30 años fue encontr...,258.784.633,-1.002.607.262,['BODEGA AURRERA EXPRESS VALLE DEL NORTE 3159'...,POINT (-100.2607262 25.8784633),1,0,0,...,1049,655,421,119,97,24,25,378,3,1.0
1,1,B3,04-ene. La mujer de 29 años que tenia antecede...,252.606.459,-1.000.087.234,"['LOTE DE AUTOS EL GALLO', ' AFIRME', ' SIX DE...",POINT (-100.0087234 25.2606459),1,0,0,...,162,81,94,25,13,14,15,102,9,NaN

In [16]:
# info de los datos
df.describe()

,Unnamed: 0,TRANSPORTES,TALLER_MECANICO,CAJEROS_AUTOMATICOS,OXXO,ABARROTES,FERRETERIA,DEPOSITO,SIX,TECATE,...,CVE_MUN,CVE_LOC,Distances,ENTIDAD,MUN,LOC,MZA,POBTOT,VIVTOT,#llamadas
count,707.000000,707.000000,707.0,707.0,707.000000,707.000000,707.000000,707.000000,707.000000,707.000000,...,707.000000,707.000000,707.000000,707.0,707.000000,707.000000,707.0,707.000000,707.000000,173.000000
mean,353.000000,0.050919,0.0,0.0,0.265912,1.292786,0.083451,0.117397,0.257426,0.066478,...,28.973126,49.145686,0.005111,19.0,28.973126,49.145686,0.0,3065.691655,1070.824611,122.878613
std,204.237607,0.244390,0.0,0.0,0.710114,1.825377,0.286812,0.351557,0.695135,0.271068,...,12.627396,126.962286,0.024991,0.0,12.627396,126.962286,0.0,2094.660276,753.592775,122.638731
min,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,1.000000,0.000000,19.0,3.000000,1.000000,0.0,0.000000,0.000000,1.000000
25%,176.500000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19.000000,1.000000,0.000000,19.0,19.000000,1.000000,0.0,1463.000000,561.500000,14.000000
50%,353.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,31.000000,1.000000,0.000000,19.0,31.000000,1.000000,0.0,3010.000000,989.000000,100.000000
75%,529.500000,0.000000,0.0,0.0,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,39.000000,1.000000,0.000000,19.0,39.000000,1.000000,0.0,4233.500000,1392.000000,205.000000
max,706.000000,2.000000,0.0,0.0,4.000000,11.000000,2.000000,3.000000,4.000000,2.000000,...,51.000000,572.000000,0.215040,19.0,51.000000,572.000000,0.0,11293.000000,4186.000000,490.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Columns: 257 entries, Unnamed: 0 to #llamadas
dtypes: float64(2), int64(23), object(232)
memory usage: 1.4+ MB

In [25]:
for col in df.columns:
    print(f'Columna: {col}')
    print(f'Tipo de dato: {df[col].dtype}')
    print(f'Valores únicos: {df[col].unique()[:5]}')  # Muestra los primeros 5 valores únicos
    print('-' * 40)

Columna: name
Tipo de dato: object
Valores únicos: ['B2' 'B3' 'B37' 'B4' 'B50']
----------------------------------------
Columna: descriptio
Tipo de dato: object
Valores únicos: ['3-ene. La mujer entre 25 y 30 años fue encontrada sin vida con huellas de estrangulamiento. #SalinasVictoria. Fuente: El Norte.\xa0https://cutt.ly/DWDim0g'
 '04-ene. La mujer de 29 años que tenia antecedente de reporte de desaparición, fue encontrada sin vida en una brecha con lesiones por arma blanca. #Allende. Fuente: PuntoxPunto.\xa0https://cutt.ly/kWDiDrJ'
 '10-jun. La víctima de 25 años fue encontrada en una quinta campestre con herida de arma blanca. #Allende. Fuente: Milenio.\xa0https://cutt.ly/ZWS5zXb'
 '04-ene. La mujer de entre 35 y 40 años fue encontrada sin vida con huellas de estrangulamiento. #Guadalupe. Fuente: Multimedios.\xa0https://cutt.ly/bWDiVF2'
 '26-jun. La víctima de 28 años que era abogada, fue atacada con arma de fuego en la vía pública. #Guadalupe. Fuente: ABC Noticias.\xa0https://cutt.ly/6WGXcwl']
----------------------------------------
Columna: latitud
Tipo de dato: object
Valores únicos: ['258.784.633' '252.606.459' '252.626.558' '256.671.838' '256.631.042']
----------------------------------------
Columna: longitud
Tipo de dato: object
Valores únicos: ['-1.002.607.262' '-1.000.087.234' '-1.000.091.471' '-1.002.523.765'
 '-1.002.592.776']
----------------------------------------
Columna: Cosas_Cerc
Tipo de dato: object
Valores únicos: ["['BODEGA AURRERA EXPRESS VALLE DEL NORTE 3159', ' TRACTOS Y CAJAS OM', ' POLI TRANSPORTES', ' PRODUCTOS Y ASFALTOS PROCESADOS', ' GARFRUT', ' INFRAESTRUCTURA MAS CONTRUCCION', ' GA SAGA', ' AUTO LINEAS ROGA', ' ETROMEX S DE RL DE CV', ' OXXO SUC 50FQQ VALLE DEL NORTE MTY', ' IRON WORX', '']"
 "['LOTE DE AUTOS EL GALLO', ' AFIRME', ' SIX DESPACHO CADEREYTA', ' AUTO LAVADO RODRIGUEZ', ' CARNICERIA LA PEÑITA', ' TALLER MECANICO SIN NOMBRE', ' ABARROTES GUZMAN GONZALEZ', ' SERVICAR JR PATO', ' TALLER MECANICO SIN NOMBRE', ' TRANSPORTES ALG', ' OXXO SUC 50CES RAICES MTA', ' DEPOSITO']"
 "['ACADEMIA DE MUSICA AB', ' DENTISTA SUITE', ' SAS3', ' REGALOS JIREH', ' SUPER TIENDA CONTRY', ' VENTA DE SISTEMAS DE FILTRACION Y REFACCIONES', ' ESTEREOS Y ALARMAS', ' FERRETERIA CONTRY', ' PAPELERIA ABACO', ' TORTAS LAS ENDIABLADAS', ' AGENCIA DE VIAJES MATKA', ' RESTAURANT EL 24 DE P']"
 "['SERVICIO ELECTRICO DESCONOCIDO', ' TALLER DE SOLDADURA DESCONOCIDO', ' FLORERIA PROFLOR DEL NORTE', ' STEEL PMGM', ' CERRAJERIA Y PUERTAS Y VENTANAS DE ALUMINO', ' CONSULTORIO MEDICO', ' CONFECCIONES ALE', ' TORTILLAS DE HARINA', ' CHICHARRONES MENDEZ', ' SALON DE BELLEZA MKZ', ' MIN']"
 "['SERVICIO ELECTRICO DESCONOCIDO', ' TALLER DE SOLDADURA DESCONOCIDO', ' ABARROTES  GONZALEZ', ' TIENDA  DE ABARROTES', ' FLORERIA PROFLOR DEL NORTE', ' STEEL PMGM', ' CERRAJERIA Y PUERTAS Y VENTANAS DE ALUMINO', ' COCINA MI FONDITA', ' PALETERIA LA MICHOACANA', ' CIBER PRINT', ' OXXO']"]
----------------------------------------
Columna: geometry
Tipo de dato: object
Valores únicos: ['POINT (-100.2607262 25.8784633)' 'POINT (-100.0087234 25.2606459)'
 'POINT (-100.0091471 25.2626558)' 'POINT (-100.2523765 25.6671838)'
 'POINT (-100.2592776 25.6631042)']
----------------------------------------
Columna: TRANSPORTES
Tipo de dato: int64
Valores únicos: [1 0 2]
----------------------------------------
Columna: OXXO
Tipo de dato: int64
Valores únicos: [1 0 2 3 4]
----------------------------------------
Columna: ABARROTES
Tipo de dato: int64
Valores únicos: [0 1 2 7 5]
----------------------------------------
Columna: FERRETERIA
Tipo de dato: int64
Valores únicos: [0 1 2]
----------------------------------------
Columna: DEPOSITO
Tipo de dato: int64
Valores únicos: [0 1 3 2]
----------------------------------------
Columna: SIX
Tipo de dato: int64
Valores únicos: [0 1 2 3 4]
----------------------------------------
Columna: TECATE
Tipo de dato: int64
Valores únicos: [0 1 2]
----------------------------------------
Columna: PAPELERIA
Tipo de dato: int64
Valores únicos: [0 1 2 3]
----------------------------------------
Columna: TORTILLERIA
Tipo de dato: int64
Valores únicos: [0 1 2]
----------------------------------------
Columna: TACOS
Tipo de dato: int64
Valores únicos: [0 1 2 3 4]
----------------------------------------
Columna: clave
Tipo de dato: object
Valores únicos: ['1904505510327' '1900400010150' '1902600010548' '1901800010404'
 '190460001095A']
----------------------------------------
Columna: CVE_ENT
Tipo de dato: int64
Valores únicos: [19]
----------------------------------------
Columna: CVE_MUN
Tipo de dato: int64
Valores únicos: [45  4 26 18 46]
----------------------------------------
Columna: CVE_LOC
Tipo de dato: int64
Valores únicos: [551   1  25 228 132]
----------------------------------------
Columna: CVE_AGEB
Tipo de dato: object
Valores únicos: ['0327' '0150' '0548' '0404' '095A']
----------------------------------------
Columna: Distances
Tipo de dato: float64
Valores únicos: [0.         0.1814791  0.14009211 0.17588566 0.18142941]
----------------------------------------
Columna: ENTIDAD
Tipo de dato: int64
Valores únicos: [19]
----------------------------------------
Columna: NOM_ENT
Tipo de dato: object
Valores únicos: ['Nuevo León']
----------------------------------------
Columna: MUN
Tipo de dato: int64
Valores únicos: [45  4 26 18 46]
----------------------------------------
Columna: NOM_MUN
Tipo de dato: object
Valores únicos: ['Salinas Victoria' 'Allende' 'Guadalupe' 'García'
 'San Nicolás de los Garza']
----------------------------------------
Columna: LOC
Tipo de dato: int64
Valores únicos: [551   1  25 228 132]
----------------------------------------
Columna: NOM_LOC
Tipo de dato: object
Valores únicos: ['Total AGEB urbana']
----------------------------------------
Columna: AGEB
Tipo de dato: object
Valores únicos: ['0327' '0150' '0548' '0404' '095A']
----------------------------------------
Columna: POBTOT
Tipo de dato: int64
Valores únicos: [3757  541 4149  404 3265]
----------------------------------------
Columna: POBFEM
Tipo de dato: object
Valores únicos: ['1822' '262' '2158' '206' '1621']
----------------------------------------
Columna: POBMAS
Tipo de dato: object
Valores únicos: ['1935' '279' '1991' '198' '1644']
----------------------------------------
Columna: P_0A2
Tipo de dato: object
Valores únicos: ['227' '26' '92' '38' '120']
----------------------------------------
Columna: P_0A2_F
Tipo de dato: object
Valores únicos: ['100' '10' '48' '19' '69']
----------------------------------------
Columna: P_0A2_M
Tipo de dato: object
Valores únicos: ['127' '16' '44' '19' '51']
----------------------------------------
Columna: P_3YMAS
Tipo de dato: object
Valores únicos: ['3527' '515' '4057' '366' '3145']
----------------------------------------
Columna: P_3YMAS_F
Tipo de dato: object
Valores únicos: ['1721' '252' '2110' '187' '1552']
----------------------------------------
Columna: P_3YMAS_M
Tipo de dato: object
Valores únicos: ['1806' '263' '1947' '179' '1593']
----------------------------------------
Columna: P_5YMAS
Tipo de dato: object
Valores únicos: ['3374' '496' '3986' '334' '3075']
----------------------------------------
Columna: P_5YMAS_F
Tipo de dato: object
Valores únicos: ['1647' '245' '2075' '172' '1512']
----------------------------------------
Columna: P_5YMAS_M
Tipo de dato: object
Valores únicos: ['1727' '251' '1911' '162' '1563']
----------------------------------------
Columna: P_12YMAS
Tipo de dato: object
Valores únicos: ['2782' '440' '3733' '289' '2781']
----------------------------------------
Columna: P_12YMAS_F
Tipo de dato: object
Valores únicos: ['1347' '217' '1955' '147' '1365']
----------------------------------------
Columna: P_12YMAS_M
Tipo de dato: object
Valores únicos: ['1435' '223' '1778' '142' '1416']
----------------------------------------
Columna: P_15YMAS
Tipo de dato: object
Valores únicos: ['2611' '425' '3620' '279' '2648']
----------------------------------------
Columna: P_15YMAS_F
Tipo de dato: object
Valores únicos: ['1248' '208' '1900' '141' '1304']
----------------------------------------
Columna: P_15YMAS_M
Tipo de dato: object
Valores únicos: ['1363' '217' '1720' '138' '1344']
----------------------------------------
Columna: P_18YMAS
Tipo de dato: object
Valores únicos: ['2452' '395' '3467' '270' '2495']
----------------------------------------
Columna: P_18YMAS_F
Tipo de dato: object
Valores únicos: ['1164' '194' '1827' '138' '1235']
----------------------------------------
Columna: P_18YMAS_M
Tipo de dato: object
Valores únicos: ['1288' '201' '1640' '132' '1260']
----------------------------------------
Columna: P_3A5
Tipo de dato: object
Valores únicos: ['253' '29' '111' '39' '114']
----------------------------------------
Columna: P_3A5_F
Tipo de dato: object
Valores únicos: ['123' '10' '54' '18' '62']
----------------------------------------
Columna: P_3A5_M
Tipo de dato: object
Valores únicos: ['130' '19' '57' '21' '52']
----------------------------------------
Columna: P_6A11
Tipo de dato: object
Valores únicos: ['492' '46' '213' '38' '250']
----------------------------------------
Columna: P_6A11_F
Tipo de dato: object
Valores únicos: ['251' '25' '101' '22' '125']
----------------------------------------
Columna: P_6A11_M
Tipo de dato: object
Valores únicos: ['241' '21' '112' '16' '125']
----------------------------------------
Columna: P_8A14
Tipo de dato: object
Valores únicos: ['499' '45' '269' '39' '304']
----------------------------------------
Columna: P_8A14_F
Tipo de dato: object
Valores únicos: ['264' '23' '134' '22' '145']
----------------------------------------
Columna: P_8A14_M
Tipo de dato: object
Valores únicos: ['235' '22' '135' '17' '159']
----------------------------------------
Columna: P_12A14
Tipo de dato: object
Valores únicos: ['171' '15' '113' '10' '133']
----------------------------------------
Columna: P_12A14_F
Tipo de dato: object
Valores únicos: ['99' '9' '55' '6' '61']
----------------------------------------
Columna: P_12A14_M
Tipo de dato: object
Valores únicos: ['72' '6' '58' '4' '44']
----------------------------------------
Columna: P_15A17
Tipo de dato: object
Valores únicos: ['159' '30' '153' '9' '10']
----------------------------------------
Columna: P_15A17_F
Tipo de dato: object
Valores únicos: ['84' '14' '73' '3' '69']
----------------------------------------
Columna: P_15A17_M
Tipo de dato: object
Valores únicos: ['75' '16' '80' '6' '84']
----------------------------------------
Columna: P_18A24
Tipo de dato: object
Valores únicos: ['545' '64' '414' '98' '375']
----------------------------------------
Columna: P_18A24_F
Tipo de dato: object
Valores únicos: ['253' '36' '190' '54' '169']
----------------------------------------
Columna: P_18A24_M
Tipo de dato: object
Valores únicos: ['292' '28' '224' '44' '206']
----------------------------------------
Columna: P_15A49_F
Tipo de dato: object
Valores únicos: ['1141' '137' '935' '131' '752']
----------------------------------------
Columna: P_60YMAS
Tipo de dato: object
Valores únicos: ['72' '84' '1177' '*' '654']
----------------------------------------
Columna: P_60YMAS_F
Tipo de dato: object
Valores únicos: ['33' '42' '648' '*' '356']
----------------------------------------
Columna: P_60YMAS_M
Tipo de dato: object
Valores únicos: ['39' '42' '529' '0' '298']
----------------------------------------
Columna: REL_H_M
Tipo de dato: object
Valores únicos: ['106.2' '106.49' '92.26' '96.12' '101.42']
----------------------------------------
Columna: POB0_14
Tipo de dato: object
Valores únicos: ['1143' '116' '529' '125' '617']
----------------------------------------
Columna: POB15_64
Tipo de dato: object
Valores únicos: ['2574' '364' '2816' '278' '2252']
----------------------------------------
Columna: POB65_MAS
Tipo de dato: object
Valores únicos: ['37' '61' '804' '*' '396']
----------------------------------------
Columna: PROM_HNV
Tipo de dato: object
Valores únicos: ['1.6' '2.33' '1.9' '1.53' '2.22']
----------------------------------------
Columna: PNACENT
Tipo de dato: object
Valores únicos: ['2121' '496' '3264' '168' '2415']
----------------------------------------
Columna: PNACENT_F
Tipo de dato: object
Valores únicos: ['1050' '234' '1675' '82' '1199']
----------------------------------------
Columna: PNACENT_M
Tipo de dato: object
Valores únicos: ['1071' '262' '1589' '86' '1216']
----------------------------------------
Columna: PNACOE
Tipo de dato: object
Valores únicos: ['1627' '34' '845' '234' '831']
----------------------------------------
Columna: PNACOE_F
Tipo de dato: object
Valores únicos: ['769' '21' '458' '124' '418']
----------------------------------------
Columna: PNACOE_M
Tipo de dato: object
Valores únicos: ['858' '13' '387' '110' '413']
----------------------------------------
Columna: PRES2015
Tipo de dato: object
Valores únicos: ['2790' '486' '3905' '195' '2993']
----------------------------------------
Columna: PRES2015_F
Tipo de dato: object
Valores únicos: ['1383' '240' '2028' '99' '1472']
----------------------------------------
Columna: PRES2015_M
Tipo de dato: object
Valores únicos: ['1407' '246' '1877' '96' '1521']
----------------------------------------
Columna: PRESOE15
Tipo de dato: object
Valores únicos: ['578' '8' '57' '133' '77']
----------------------------------------
Columna: PRESOE15_F
Tipo de dato: object
Valores únicos: ['263' '5' '29' '70' '38']
----------------------------------------
Columna: PRESOE15_M
Tipo de dato: object
Valores únicos: ['315' '3' '28' '63' '39']
----------------------------------------
Columna: P3YM_HLI
Tipo de dato: object
Valores únicos: ['132' '*' '3' '43' '20']
----------------------------------------
Columna: P3YM_HLI_F
Tipo de dato: object
Valores únicos: ['62' '0' '21' '7' '45']
----------------------------------------
Columna: P3YM_HLI_M
Tipo de dato: object
Valores únicos: ['70' '*' '3' '22' '13']
----------------------------------------
Columna: P3HLINHE
Tipo de dato: object
Valores únicos: ['0' '*' '3' '4' '6']
----------------------------------------
Columna: P3HLINHE_F
Tipo de dato: object
Valores únicos: ['0' '*' '3' '4' '6']
----------------------------------------
Columna: P3HLINHE_M
Tipo de dato: object
Valores únicos: ['0' '*' '3']
----------------------------------------
Columna: P3HLI_HE
Tipo de dato: object
Valores únicos: ['131' '*' '3' '43' '20']
----------------------------------------
Columna: P3HLI_HE_F
Tipo de dato: object
Valores únicos: ['62' '0' '21' '7' '45']
----------------------------------------
Columna: P3HLI_HE_M
Tipo de dato: object
Valores únicos: ['69' '*' '3' '22' '13']
----------------------------------------
Columna: P5_HLI
Tipo de dato: object
Valores únicos: ['131' '*' '3' '43' '20']
----------------------------------------
Columna: P5_HLI_NHE
Tipo de dato: object
Valores únicos: ['0' '*' '3' '6']
----------------------------------------
Columna: P5_HLI_HE
Tipo de dato: object
Valores únicos: ['130' '*' '3' '43' '20']
----------------------------------------
Columna: PHOG_IND
Tipo de dato: object
Valores únicos: ['271' '4' '12' '82' '37']
----------------------------------------
Columna: POB_AFRO
Tipo de dato: object
Valores únicos: ['30' '6' '210' '21' '33']
----------------------------------------
Columna: POB_AFRO_F
Tipo de dato: object
Valores únicos: ['10' '*' '105' '13' '19']
----------------------------------------
Columna: POB_AFRO_M
Tipo de dato: object
Valores únicos: ['20' '4' '105' '8' '14']
----------------------------------------
Columna: PCON_DISC
Tipo de dato: object
Valores únicos: ['61' '30' '258' '7' '254']
----------------------------------------
Columna: PCDISC_MOT
Tipo de dato: object
Valores únicos: ['17' '11' '158' '0' '115']
----------------------------------------
Columna: PCDISC_VIS
Tipo de dato: object
Valores únicos: ['33' '17' '84' '3' '95']
----------------------------------------
Columna: PCDISC_LENG
Tipo de dato: object
Valores únicos: ['7' '0' '45' '*' '51']
----------------------------------------
Columna: PCDISC_AUD
Tipo de dato: object
Valores únicos: ['9' '4' '59' '*' '56']
----------------------------------------
Columna: PCDISC_MOT2
Tipo de dato: object
Valores únicos: ['9' '3' '84' '*' '68']
----------------------------------------
Columna: PCDISC_MEN
Tipo de dato: object
Valores únicos: ['3' '*' '60' '51' '5']
----------------------------------------
Columna: PCON_LIMI
Tipo de dato: object
Valores únicos: ['330' '30' '490' '50' '552']
----------------------------------------
Columna: PCLIM_CSB
Tipo de dato: object
Valores únicos: ['43' '12' '199' '15' '158']
----------------------------------------
Columna: PCLIM_VIS
Tipo de dato: object
Valores únicos: ['268' '20' '261' '24' '421']
----------------------------------------
Columna: PCLIM_HACO
Tipo de dato: object
Valores únicos: ['19' '7' '24' '12' '14']
----------------------------------------
Columna: PCLIM_OAUD
Tipo de dato: object
Valores únicos: ['27' '5' '121' '8' '94']
----------------------------------------
Columna: PCLIM_MOT2
Tipo de dato: object
Valores únicos: ['10' '5' '44' '*' '13']
----------------------------------------
Columna: PCLIM_RE_CO
Tipo de dato: object
Valores únicos: ['15' '6' '104' '13' '90']
----------------------------------------
Columna: PCLIM_PMEN
Tipo de dato: object
Valores únicos: ['26' '20' '94' '*' '41']
----------------------------------------
Columna: PSIND_LIM
Tipo de dato: object
Valores únicos: ['3344' '460' '3385' '346' '2449']
----------------------------------------
Columna: P3A5_NOA
Tipo de dato: object
Valores únicos: ['91' '17' '31' '22' '44']
----------------------------------------
Columna: P3A5_NOA_F
Tipo de dato: object
Valores únicos: ['43' '6' '17' '9' '24']
----------------------------------------
Columna: P3A5_NOA_M
Tipo de dato: object
Valores únicos: ['48' '11' '14' '13' '20']
----------------------------------------
Columna: P6A11_NOA
Tipo de dato: object
Valores únicos: ['13' '6' '0' '14' '9']
----------------------------------------
Columna: P6A11_NOAF
Tipo de dato: object
Valores únicos: ['5' '*' '3' '0' '9']
----------------------------------------
Columna: P6A11_NOAM
Tipo de dato: object
Valores únicos: ['8' '4' '3' '0' '5']
----------------------------------------
Columna: P12A14NOA
Tipo de dato: object
Valores únicos: ['6' '5' '*' '0' '8']
----------------------------------------
Columna: P12A14NOAF
Tipo de dato: object
Valores únicos: ['4' '*' '0' '3' '7']
----------------------------------------
Columna: P12A14NOAM
Tipo de dato: object
Valores únicos: ['*' '3' '0' '4' '14']
----------------------------------------
Columna: P15A17A
Tipo de dato: object
Valores únicos: ['115' '19' '136' '6' '103']
----------------------------------------
Columna: P15A17A_F
Tipo de dato: object
Valores únicos: ['65' '10' '64' '*' '48']
----------------------------------------
Columna: P15A17A_M
Tipo de dato: object
Valores únicos: ['50' '9' '72' '4' '55']
----------------------------------------
Columna: P18A24A
Tipo de dato: object
Valores únicos: ['95' '4' '222' '13' '103']
----------------------------------------
Columna: P18A24A_F
Tipo de dato: object
Valores únicos: ['44' '*' '105' '9' '43']
----------------------------------------
Columna: P18A24A_M
Tipo de dato: object
Valores únicos: ['51' '3' '117' '4' '60']
----------------------------------------
Columna: P8A14AN
Tipo de dato: object
Valores únicos: ['9' '0' '3' '7' '6']
----------------------------------------
Columna: P8A14AN_F
Tipo de dato: object
Valores únicos: ['*' '0' '6' '5' '8']
----------------------------------------
Columna: P8A14AN_M
Tipo de dato: object
Valores únicos: ['7' '0' '3' '*' '5']
----------------------------------------
Columna: P15YM_AN
Tipo de dato: object
Valores únicos: ['11' '4' '26' '3' '97']
----------------------------------------
Columna: P15YM_AN_F
Tipo de dato: object
Valores únicos: ['4' '3' '13' '*' '51']
----------------------------------------
Columna: P15YM_AN_M

In [19]:
# Verificar si las columnas tienen solo NaN o 0
columnas_vacias_o_cero = df.apply(lambda col: col.isna().all() or (col == 0).all())

# Imprimir las columnas que cumplen la condición
print(columnas_vacias_o_cero[columnas_vacias_o_cero].index.tolist())

['TALLER_MECANICO', 'CAJEROS_AUTOMATICOS', 'MINI SUPER', 'MZA']

In [20]:
# limpiar columnas vacias
columnas_a_eliminar = ['TALLER_MECANICO', 'CAJEROS_AUTOMATICOS', 'MINI SUPER', 'MZA']#por ser solo 0 o NaN
df = df.drop(columnas_a_eliminar, axis=1)

In [23]:
# limpiar columnas innecesarias 
columnas_a_eliminar = ['Unnamed: 0']#, 'name', 'descriptio', 'latitud', 'longitud', 'Cosas_Cerc', 'geometry']
df = df.drop(columnas_a_eliminar, axis=1)
df.tail(5)

,name,descriptio,latitud,longitud,Cosas_Cerc,geometry,TRANSPORTES,OXXO,ABARROTES,FERRETERIA,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,#llamadas
702,B77,Fecha: 7/22/2023<br>Hora: Sin dato<br>Nombre d...,25.856.985,-100.147.159,"['OXXO SUC 50BH2 SAN JORGE MTY', ' BA EXPRESS ...",POINT (-100.147159 25.856985),0,3,0,0,...,1686,954,526,243,139,79,50,718,11,NaN
703,B78,Fecha: 7/26/2023<br>Hora: 7:25<br>Nombre de la...,25.856.985,-100.147.159,"['OXXO SUC 50BH2 SAN JORGE MTY', ' BA EXPRESS ...",POINT (-100.147159 25.856985),0,3,0,0,...,1686,954,526,243,139,79,50,718,11,NaN
704,B72,Fecha: 6/27/2023<br>Hora: 16:30<br>Nombre de l...,25.772.826,-100.125.375,"['TRUCAST DE MEXICO', ' WABTEC CORPORATION', '...",POINT (-100.125375 25.772826),0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
705,B75,Fecha: 7/12/2023<br>Hora: Sin dato<br>Nombre d...,25.784.681,-100.326.865,"['VENTA DE TORTILLAS DE HARINA DOÑA MARY', ' P...",POINT (-100.326865 25.784681),0,0,1,1,...,901,647,448,130,91,21,54,381,4,NaN
706,B79,Fecha: 7/27/2023<br>Hora: 20:45<br>Nombre de l...,256.772.312,-1.002.041.179,"['TACOS LA GUERA', ' ABARROTES GOMEZ', ' ESTAN...",POINT (-100.2041179 25.6772312),0,0,1,0,...,523,383,251,183,100,5,28,184,*,NaN

In [24]:
# rellenar con 0 los NaN 
df = df.fillna(0)
df.tail(3)

,name,descriptio,latitud,longitud,Cosas_Cerc,geometry,TRANSPORTES,OXXO,ABARROTES,FERRETERIA,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,#llamadas
704,B72,Fecha: 6/27/2023<br>Hora: 16:30<br>Nombre de l...,25.772.826,-100.125.375,"['TRUCAST DE MEXICO', ' WABTEC CORPORATION', '...",POINT (-100.125375 25.772826),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
705,B75,Fecha: 7/12/2023<br>Hora: Sin dato<br>Nombre d...,25.784.681,-100.326.865,"['VENTA DE TORTILLAS DE HARINA DOÑA MARY', ' P...",POINT (-100.326865 25.784681),0,0,1,1,...,901,647,448,130,91,21,54,381,4,0.0
706,B79,Fecha: 7/27/2023<br>Hora: 20:45<br>Nombre de l...,256.772.312,-1.002.041.179,"['TACOS LA GUERA', ' ABARROTES GOMEZ', ' ESTAN...",POINT (-100.2041179 25.6772312),0,0,1,0,...,523,383,251,183,100,5,28,184,*,0.0